# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

RAILS_SECRET_KEY_BASE=6d4aead45bc7c1fda57a2db0e3f31b719ed588850054af9ae72498fa5aa1d956322d9e333bad78f8282591765ad7563db12b7539490a557b2296e2674039e800
REDIS_URL=redis://localhost:6379/11
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
